<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/MSWTestCase.php" colors="true">
    <testsuites>
        <testsuite name="mswtest">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./src/</directory>
        </whitelist>
    </filter>
</phpunit>